@media all and (max-width: 500px) {
  .nav-link {
    opacity: 0;
  }

  .NavBar {
    height: 50px;
  }

  .nav-item .nav-name {
    font-size: 36px;
    margin-left: 10px;
  }
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  /* padding: 20px; */
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.About {
  background-color: #e4e4e4;
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position: bottom;
  height: 700px;
}

.section {
  padding: 50px;
}


.NavBar {
  list-style-type: none;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: #f1f1f1;
  z-index: 500;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  float: right;
}

.nav-last {
  margin-right: 60px;
}

.nav-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: large;
  display: block;
  margin-left: 60px;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

.nav-link {
  display: block;
  color: #666;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-link:hover:not(.active) {
  background-color: #bafffc;
  color: #16223C;
}

.nav-link.active {
  color: white;
  background-color: #4CAF50;
}

.nav-link:focus {
  color: white;
  background-color: #4CAF50;
}



.welcome-text {
  /* font-size: 'large'; */
  color: #fff;
  border-top: 5px solid #fff;
  display: inline-block;
  /* padding: 50px 70px 65px; */
  padding: 10px;
  position: relative;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}
.welcome-text::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 25%;
  height: 5px;
  background: #fff;
}
.welcome-text::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 25%;
  height: 5px;
  background: #fff;
}




.social-links {
	position: absolute;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
}
.social-links li:last-child a {
	margin-right: 0;
}

.social-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links li {
  display: inline-block;
}
.social-links a {
  color: #444;
  font-size: 15px;
  background: #fff;
  width: 35px;
  height: 35px;
  display: block;
  line-height: 37px;
  border-radius: 50%;
  margin-right: 5px;

}
.social-links ul {
  margin-bottom: -15px;
  position: relative;
  z-index: 2;
}






@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
